body {
  background-color: rgb(234, 234, 234);
}

.wrapper {
  display: grid;
  place-items: center;
  /* justify-content: center, align-items:center; 합친 기능 */
  min-height: 100vh;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
}

.gridContainer > div {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.gridContainer > div > img {
  width: 90%;
  height: 90%;
}
